.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 35px;
}

h1.heading {
  margin-top: 50px;
  margin-bottom: 65px;
}

p.date{
  font-weight: 420;
}

.card-img-top {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.infinite-scroll-component{
  margin-bottom: 100px;
  overflow-y: hidden !important;   /*used important bcz was getting overridden by default overflow property*/
}
